.bar {
  padding: 0 20px;
}

.appBarText {
  padding-top: 20px;
  font-size: 16px;
}

.hero {
  background: url('./images/home_cover.jpg') no-repeat center center;
  height: 540px;
}

.sponsor {
  composes: hero;
  width: 100%;
  background: url('./images/g0v_nyc_green_texture.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.body {
  text-align: center;
}

.heading {
  color: #009c00;
  font-size: 32px;
  font-weight: 900;
  margin: 30px;
  line-height: 36px;
}

.bodyText {
  color: #444;
  font-size: 16px;
  font-weight: 300;
}

.bodyTextBold {
  composes: bodyText;
  font-weight: 700;
}

.bodyTextBottom {
  composes: bodyText;
  margin-bottom: 60px;
}

.bodyTextWhite { 
  composes: bodyText;
  color: white;
}

.eventInfo {
  text-align: left;
}

.infoLabel {
  color: #009c00;
  font-weight: 600;
}

.speakerButton {
  background-color: #efedee;
  margin-bottom: 40px;
}

.icon {
  height: 65px;
}

.speakerHeader, .speakerSection {
  background-color: #efedee;
}

.speakerHeader {
  padding-top: 30px;
}

.speakerCard {
  height: 450px;
  width: 100%;
}

.speakerImg {
  height: 300px;
  background-color: #444;
}

.speakerInfo {
  background-color: #fff;
  padding: 8px 15px;
}

.speakerTitle {
  composes: heading;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin: 0;
}

.speakerImgLin {
  composes: speakerImg;
  background: url('http://img.epochtimes.com.tw/upload/images/2014/06/29/95462_medium.jpg') no-repeat center center;
}

.speakerImgKao {
  composes: speakerImg;
  background: url('./images/kao2.jpg') no-repeat center center;
}

.speakerImgNicklin {
  composes: speakerImg;
  background: url('https://govex.jhu.edu/content/uploads/2016/01/400x400-andrew-n.jpg') no-repeat center center;
}

.speakerSubtitle {
  composes: speakerTitle;
  font-size: 16px;
  line-height: 26px;
  color: #444;
}

.footer {
  background-color: #333;
}

.footerLogo {
  margin-top: 20px;
}

.greenDivider {
  border-bottom: 5px solid #009c00;
  height: 10px;
  width: 100%;
}

.staffCard {
  height: 90px;
  border-bottom: 1px solid rgba(0,0,0,.12)
}

.staffCardHeading {
  text-align: left;
  font-weight: 700;
}

.staffCardBodyText {
  composes: bodyText;
  text-align:  left;
}
