body {
  font-family: freight-sans-pro, sans-serif 
}


.linkDecorated {
  text-decoration: underline;
  color: #333;
}

a {
  color: #009c00;
}

a:hover {
  color: #007e00;
}

/* App nav bar */

.bar {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.appBarLogo {
  display: inline-block;
  width: 165px;
}

.appBarNav {
  padding-top: 15px;
  font-size: 15px;
}

.appBarExtra {
  padding-top: 15px;
  font-size: 15px;
  text-align: right;
}

.navLink {
  margin: 0 8px;
  color: #444;
  padding-bottom: 18px;
}

.navLinkSelected {
  color: #009c00;
  border-bottom: 5px solid #009c00;
}

.navLink:hover, .navLink:focus {
  color: #009c00;
}

.navButton {
  background-color: #009c00;
  color: #fff;
  height: 35px;
  line-height: 0;
  padding: 10px;
  margin: 0 8px;
  vertical-align: inherit;
}

.navButton:hover, .navButton:active, .navButton:focus {
  background-color: #fff;
  color: #009c00;
}

.langLink {
  display: inline-block;
  line-height: 35px;
  color: #444;
}

.langLink:hover {
  text-decoration: underline;
  color: #009c00;
}

.socialIcon {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

.socialIcon img{
  width: 100%;
  height: 100%;
}

.headerContainer {
  width: 100%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End nav bar */

.headerItem {
  margin-right: 10px;
  margin-left: 10px;
}

.pageTop {
  text-align: center;
  margin-top: 20px;
}

.hero {
  position: relative;
  overflow: hidden;
}

.heroImg {
  display: block;
  margin: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .heroImg {
    margin-left: -40%;
    width: 180%;
    max-width: none;
  }
}

.sponsor {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.sponsorBg {
  background: url('./images/g0v_nyc_green_texture.jpg') no-repeat center center;
  background-size: 50%;
  background-attachment: fixed;
  background-size: 600px 600px;
  background-repeat: repeat;
  margin-top: 30px;
}

.landingBody {
  text-align: center;
}

.pageBody {
  text-align: left;
  margin-bottom: 60px;
}

.heading {
  color: #009c00;
  font-size: 32px;
  font-weight: 900;
  margin: 30px;
  line-height: 36px;
}

.bodyText {
  color: #444;
  font-size: 16px;
  font-weight: 300;
}

.bodyTextBold {
  composes: bodyText;
  font-weight: 700;
}

.bodyTextBottom {
  composes: bodyText;
  margin-bottom: 60px;
}

.bodyTextWhite { 
  composes: bodyText;
  color: white;
}

.eventInfo {
  text-align: left;
}

.eventInfo p {
  margin: 5px 0;
}

.infoLabel {
  color: #009c00;
  font-weight: 600;
  margin: 10px 0 5px;
}

.eventInfo .infoLabel:first-child {
  margin-top: 0;
}

.speakerButton {
  background-color: #efedee;
  margin-bottom: 40px;
}

.icon {
  height: 65px;
}

.speakerHeader, .speakerSection {
  background-color: #efedee;
}

.speakerBg {
  background-color: #efedee;
}

.speakerHeader {
  padding-top: 30px;
}

.speakerCard {
  width: 100%;
  margin-bottom: 30px;
}

.speakerImg {
  height: 300px;
  background-color: #444;
}

.speakerInfo {
  background-color: #fff;
  padding: 15px 20px;
  min-height: 140px;
}

.speakerTitle {
  composes: heading;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin: 0;
}

.speakerImgLin {
  composes: speakerImg;
  background: url('./images/lin.jpg') no-repeat center center;
}

.speakerImgKao {
  composes: speakerImg;
  background: url('./images/kao2.jpg') no-repeat center center;
}

.speakerImgLi {
  composes: speakerImg;
  background: url('./images/li.jpg') no-repeat center center;
}

.speakerImgNicklin {
  composes: speakerImg;
  background: url('https://govex.jhu.edu/content/uploads/2016/01/400x400-andrew-n.jpg') no-repeat center center;
}

.speakerSubtitle {
  composes: speakerTitle;
  font-size: 16px;
  line-height: 26px;
  color: #444;
}

.footer {
  background-color: #333;
}

.footerLogo {
  margin-top: 20px;
}

.greenDivider {
  border-bottom: 5px solid #009c00;
  height: 10px;
  width: 100%;
}

.speakerBio {
  margin: 30px 0;
}

.speakerAvatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  filter: grayscale(100%);
  margin-bottom: 10px
}

.iceDivider {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.staffCard {
  height: 90px;
  border-bottom: 1px solid rgba(0,0,0,.12)
}

.staffCardHeading {
  font-weight: 700;
}

.hamburger {
  font-size: 30px;
  position: absolute;
  left: 90%;
  top: 10px;
  display: none;
  cursor: pointer;
}

.dropDownUl {
  list-style: none;
  font-size: 16px;
  color: #444;
  padding: 0;
  margin-bottom: 0;
}

.headerItemResponsive {
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
}

/* Schedule Page */

.scheduleControl {
  border-bottom: 3px solid #009c00;
  background-color: rgba(0,0,0,.12);
  display: flex;
}

.scheduleDate {
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  padding: 16px 28px;
  cursor: pointer;
  color: #444;
}

.scheduleDateSelected {
  composes: scheduleDate;
  color: #fff;
  background-color: #009c00;
}

.scheduleDate:hover{
  color: #009c00;
}

.scheduleDateSelected:hover{
  color: #FFF;
}

.scheduleDateHeader {
  height: 50px;
  color: #444;
  padding-left: 23px;
  border-bottom: 1px solid black;
}

.scheduleItem {
  composes: staffCard;
  display: flex;
  height: 50px;
  font-size: 16px;
  padding-left: 23px;
  color: #444;
}

.scheduleItemWide {
  composes: scheduleItem;
  height: 75px;
}

.scheduleItemTime {
  padding-top: 14px;
}

.scheduleItemActivity {
  padding-top: 14px;
  margin-left: 50px;
}

.scheduleBox {
  height: 400px;
}

/* End schedule page */

@media (min-width: 769px) {
  .dropDownUl {
    display: none;
  }
}

@media (max-width: 768px) {
  .appBarNav, .appBarExtra {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .socialIcon {
    margin-left: 0;
    margin-right: 10px;
  }
}
